.getStarted {
    width: 1366px;
    height: 500px;
    background-image: url(./assets/backgroundimage.png);
}

.headMenu {
    display: flex;
    flex-direction: row;
    color: white;
}

.logo {
    width: 600px;
    text-align: center;
    margin-top: 40px;
}

.topButtonMenu {
    display: flex;
    flex-direction: row;
    color: white;
    width: 600px;
    justify-content: space-between;
    margin-top: 40px;
}

.topButton {}